#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardContainer {
  width: 300px;
  text-align: left;  
}

.card {
  margin-bottom: 20px;
  border: 1px solid #858d94;
  padding: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.img{
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
}

img {
  width: 100%;
}

.btn {
  background-color: blue;
  color: white;
}

